.container{
    color: white;
    text-align: center;
    width: 400px;
    height: 300px;
    margin: auto;
    background-color:rgb(63, 65, 204);
    padding: 5px;
    margin-top:160px;
   
}

#btn{
    border-radius: 5px;
    height: 30px;
    background-color: rgb(152, 243, 149);
    margin-top: 6px;
    margin-bottom: 8px;

    
}
#input{
    height: 30px;
    width: 150px;
    text-align: center;

}

p{
    padding: 0px;
    margin: 0px;
}

h3{
    color: black;
}